<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.linitly.boot.base.dao.SysFunctionPermissionMapper">
    <resultMap extends="org.linitly.boot.base.dao.BaseBeanMapper.BaseEntityMap" id="BaseResultMap" type="org.linitly.boot.base.entity.SysFunctionPermission">
        <result column="name" jdbcType="VARCHAR" property="name" />
        <result column="code" jdbcType="VARCHAR" property="code" />
        <result column="description" jdbcType="VARCHAR" property="description" />
        <result column="sys_menu_id" jdbcType="BIGINT" property="sysMenuId" />
    </resultMap>

    <sql id="Base_Column_List">
        id, name, code, description, sys_menu_id, enabled, created_user_id, created_time, 
        last_modified_user_id, last_modified_time
    </sql>

    <select id="findById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List" />
        FROM sys_function_permission
        WHERE id = #{id, jdbcType=BIGINT}
    </select>

    <delete id="deleteById" parameterType="java.lang.Long">
        DELETE FROM sys_function_permission
        WHERE id = #{id, jdbcType=BIGINT}
    </delete>

    <insert id="insert" parameterType="org.linitly.boot.base.entity.SysFunctionPermission">
        INSERT INTO sys_function_permission (id, name, code, 
            description, sys_menu_id, created_user_id, 
            last_modified_user_id)
        VALUES (#{id, jdbcType=BIGINT}, #{name, jdbcType=VARCHAR}, #{code, jdbcType=VARCHAR}, 
            #{description, jdbcType=VARCHAR}, #{sysMenuId, jdbcType=BIGINT}, #{createdUserId, jdbcType=BIGINT}, 
            #{lastModifiedUserId, jdbcType=BIGINT})
    </insert>

    <update id="updateById" parameterType="org.linitly.boot.base.entity.SysFunctionPermission">
        UPDATE sys_function_permission
        SET name = #{name, jdbcType=VARCHAR},
            code = #{code, jdbcType=VARCHAR},
            description = #{description, jdbcType=VARCHAR},
            sys_menu_id = #{sysMenuId, jdbcType=BIGINT},
            last_modified_user_id = #{lastModifiedUserId, jdbcType=BIGINT}
        WHERE id = #{id, jdbcType=BIGINT}
    </update>

    <select id="findAll" parameterType="org.linitly.boot.base.entity.SysFunctionPermission" resultMap="BaseResultMap">
        SELECT 
        <include refid="Base_Column_List" />
        FROM sys_function_permission
        <where>
            <if test="name != null and name != ''">
                name LIKE CONCAT('%', #{name, jdbcType=VARCHAR}, '%')
            </if>
            <if test="code != null and code != ''">
                AND code LIKE CONCAT('%', #{code, jdbcType=VARCHAR}, '%')
            </if>
            <if test="description != null and description != ''">
                AND description LIKE CONCAT('%', #{description, jdbcType=VARCHAR}, '%')
            </if>
            <if test="sysMenuId != null">
                AND sys_menu_id = #{sysMenuId, jdbcType=BIGINT}
            </if>
            <if test="enabled != null">
                AND enabled = #{enabled, jdbcType=INTEGER}
            </if>
            <if test="createdTime != null">
                AND created_time = #{createdTime, jdbcType=TIMESTAMP}
            </if>
        </where>
    </select>

    <insert id="insertSelective" parameterType="org.linitly.boot.base.entity.SysFunctionPermission">
        INSERT INTO sys_function_permission
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="code != null">
                code,
            </if>
            <if test="description != null">
                description,
            </if>
            <if test="sysMenuId != null">
                sys_menu_id,
            </if>
            <if test="createdUserId != null">
                created_user_id,
            </if>
            <if test="lastModifiedUserId != null">
                last_modified_user_id,
            </if>
        </trim>

        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id, jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name, jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                #{code, jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                #{description, jdbcType=VARCHAR},
            </if>
            <if test="sysMenuId != null">
                #{sysMenuId, jdbcType=BIGINT},
            </if>
            <if test="createdUserId != null">
                #{createdUserId, jdbcType=BIGINT},
            </if>
            <if test="lastModifiedUserId != null">
                #{lastModifiedUserId, jdbcType=BIGINT},
            </if>
        </trim>

    </insert>

    <update id="updateByIdSelective" parameterType="org.linitly.boot.base.entity.SysFunctionPermission">
        UPDATE sys_function_permission
        <set>
            <if test="name != null">
                name = #{name, jdbcType=VARCHAR},
            </if>
            <if test="code != null">
                code = #{code, jdbcType=VARCHAR},
            </if>
            <if test="description != null">
                description = #{description, jdbcType=VARCHAR},
            </if>
            <if test="sysMenuId != null">
                sys_menu_id = #{sysMenuId, jdbcType=BIGINT},
            </if>
            <if test="lastModifiedUserId != null">
                last_modified_user_id = #{lastModifiedUserId, jdbcType=BIGINT},
            </if>
        </set>

        where id = #{id, jdbcType=BIGINT}
    </update>

</mapper>
