.idea
target
*.iml
/target/
.classpath
.project
/.settings/
/log/
*.class
.git
/bin/
.factorypath
RemoteSystemsTempFiles
.metadata
.recommenders
**/docs/
**/target/
**/*.iml
**/target/
**/bin/
**/.classpath
**/.project
**/.settings
**/.springBeans
**/logs/
**/*.class